@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "Mojangles";
  src: url('../fonts/mojangles.ttf');
}

:root {
  --cosmicgold: rgb(235, 181, 6);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(25,25,25);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dot {
  z-index: -10;
  position: absolute;
  width: 1px;
  height: 1px;
  transition: all ease-in-out;
  background-color: var(--cosmicgold);
}

@keyframes move-dots {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(25px, 25px);
  }
  50% {
    transform: translate(50px, 50px);
  }
  75% {
    transform: translate(75px, 75px);
  }
}

.navbar {
  z-index: 10;
  background-color: #222;
  color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: top 0.25s ease-in-out;
}

.nav-list li {
  margin: 10px 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  transition: color 0.3s;
  z-index: 2;
}

.nav-list li a:hover {
  color: var(--cosmicgold);
}

.nav-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222;
  z-index: 2;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  order: 2;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-toggle:hover {
  background-color: #333;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: background-color 0.3s;
}

#navicon {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 10px;
}

#navtitle {
  color: var(--cosmicgold);
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
  font-size: 25px;
  font-family: "Shippori Mincho";
}

.navthingy {
  display: flex;
  height: 50px;
  margin-right: auto;
  background-color: #222;
  z-index: 2;
}

#loading {
  margin: 2em;
  color: var(--cosmicgold);
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
}

#remember {
  display: none;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  color: white;
  font-family: "Plus Jakarta Sans";
}

.substatsthisweek {
  text-align: center;
  color: white;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
}

.statsthisweek {
  display: inline-block;
  flex: 1;
  min-width: 0;
}

#statsthisweekcontainer {
  display: none;
  width: 80vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.statsthisweekvalue {
  color: var(--cosmicgold);
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  text-align: center;
}

.table {
  display: none;
  margin-top: 30px;
  width: 80vw;
  height: max-content;
  border-radius: 20px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
}

.table tr th {
  color: var(--cosmicgold);
  font-family: "Mojangles";
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  text-shadow: 3px 3px #402A00;
}

.table tr:first-child {
  margin-bottom: 10px;
}

.table th:first-child {
  text-align: left;
  width: 30%;
}

.childrows td:first-child {
  text-align: left;
}

.childrowsname, .childrows {
  color: white;
  font-family: "Mojangles";
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px #3F3F3F;
  position: relative;
  bottom: 4px;
}

.childrowsname {
  display: inline-block;
}

.childrowhead {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
}

@media screen and (max-width: 1220px) {
  .table tr th {
    font-size: 15px;
  }

  .table {
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
  }

  #statsthisweekcontainer {
    width: 90vw;
  }

  .childrowhead {
    width: 15px;
    height: 15px;
  }

  .childrowsname, .childrows {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 768px) {
  .statsthisweekvalue {
    font-size: 15px;
  }

  .substatsthisweek {
    font-size: 10px;
  }

  .childrowsname, .childrows {
    text-shadow: 1px 1px #3F3F3F;
  }

  .table tr th {
    text-shadow: 2px 2px #402A00;
  }

  .navthingy {
    width: 100%;
  }

  .nav-header {
    display: flex;
  }
  
  .nav-toggle {
    display: block;
  }
  
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: rgba(51, 51, 51, 0.69);
    width: 100%;
    height: auto;
    text-align: center;
    top: -160px;
    justify-content: flex-start;
    display: flex;
    z-index: 0;
  }

  .nav-list li {
    margin: 10px 0;
  }
}